In [10]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

Libraries Import

In [11]:
data = pd.read_csv('C:/Users/priye/Desktop/LearningSpring2018/python/Week-7-MachineLearning/weather/daily_weather.csv')

Data Import

In [12]:
del data['number']
data = data.dropna()

Data Cleaning

In [13]:
data.head()

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [16]:
data2= data.copy()
#duplicating data into another dataframe
#data2 is clean data

In [24]:
data2['high_humidity']= (data2['relative_humidity_3pm']>24.99)*1.0
# selected data2['high_humidity'] because we want to see predict temprature of afternpoon based on morning data

In [37]:
data2['high_humidity']
y=data2[['high_humidity']].copy()
#k is new data frame, copied the values from data2['high_humidity'] into it

In [38]:
y.head()

   high_humidity
0            1.0
1            0.0
2            0.0
3            0.0
4            1.0

In [39]:
morning_features = ['air_pressure_9am','air_temp_9am','avg_wind_direction_9am','avg_wind_speed_9am',
        'max_wind_direction_9am','max_wind_speed_9am','rain_accumulation_9am',
        'rain_duration_9am']
#filter
#using all other morning variables we want to predict values of afternoon temprarture

In [41]:
x= data2[morning_features].copy()

In [51]:
x.head()

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0
1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0

In [52]:
y.head()

   high_humidity
0            1.0
1            0.0
2            0.0
3            0.0
4            1.0

In [83]:
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size= .33)

#splitting x and y dataframe into their train and test dataframes
#train data set is 67% of original dataset and test data is 33% of original dataframe

In [90]:
classifier= DecisionTreeClassifier(max_leaf_nodes= 10)
#created a classifier using DecisionTreeClassifier function.
classifier.fit(x_train,y_train)
#tested the classifier on traing data with fit(), relating data of x_train with y_train and reviewing it

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=10,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [91]:
type(classifier)

sklearn.tree.tree.DecisionTreeClassifier

In [92]:
predictions = classifier.predict(x_test)

#used predict() to predict y_test values using x_test values

In [93]:
predictions[:10]

array([0., 0., 0., 0., 1., 0., 1., 1., 1., 0.])

In [94]:
y_test[:10]

      high_humidity
612             0.0
183             0.0
1059            1.0
811             0.0
4               1.0
728             0.0
959             0.0
565             1.0
682             1.0
854             0.0

In [95]:
accuracy_score(y_true = y_test,y_pred= predictions)

0.8295454545454546